.npmrc
/**/.terraform/
/**/terraform.tfstate
/**/terraform.tfstate.backup
/**/.terraform.tfstate.lock.info
/**/.terraform.lock.hcl
/helm/cloud-porsche-default/values-secrets.yaml
/helm/*.tgz
/**/.auto.tfvars
